@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.footer{
    position: relative;
    bottom: 0;
    color: white;
    width: 100%;
}
*{
    font-family: 'Noto Sans', sans-serif;
}
.testimonial-card .card-up {
    height: 10px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.mt-6{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.card-title{
    text-align: center;
}
.bg-grey{
    background-color: grey;
}
.currentRoute{
    background-color: rgba(255,255,255,0.1);
}
li p{
    color: #ff3547 !important;
}